---
layout: null
---

{% include header.html %}
        
        <!--================Home Banner Area =================-->
        <section class="banner_area">
            <div class="banner_inner d-flex align-items-center">
                <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
                <div class="container">
                    <div class="banner_content text-center">
                        <div class="page_link">
                            <a href="index.html">Home</a>
                            <a href="about.html">About</a>
                        </div>
                        <h2>About Red Team Summit</h2>
                    </div>
                </div>
            </div>
        </section>
        <!--================End Home Banner Area =================-->
        
        <!--================Welcome Area =================-->
        <section class="welcome_area p_120">
            <div class="container">
                <div class="welcome_inner row">
                    <div class="col-lg-6 offset-lg-1">
                        <div class="welcome_text">
                            <h3>Red Team Summit</h3>
                            <p>Red Team Summit is two-day conference in the spring for internal Red Teams (by internal Red Teams) to share tips, tricks, and experiences. Red Team Summit is focused on how to be an effective attacker for your organization, and how to demonstrate the maximum value to your organization as opposed to “Here’s how to hack my employer.”</p>
                            <p>Offensive security operators present various TTPs to share lessons learned from accumulated successes and failures. The format is similar to Facebook’s War Room event for Blue Teams.</p>
                            <h4>Audience</h4>
                            <p>This is an invite only event. There are no ticket sales.</p>
                            <p>Attendance is limited. Your organization must submit a talk in order to receive an invitation for attendance. Submission to CFP does not guarantee presentation acceptance, but does guarantee attendance while capacity remains available.</p>
                            <p>This event is targeted towards internal Red Teams -- the hackers responsible for simulating adversaries and testing the effective security controls of their organizations.</p>
                            <h4>Chatham House Rule</h4>
                            <p>When a meeting is held under the Chatham House Rule, participants are free to use the information received, but the identity or affiliation of speakers and participants may not be revealed.</p>
                            <p>No part of Red Team Summit is to be recorded (audio or video) or photographed. Direct quotes may not be shared.</p>
                            <p>This rule establishes a trusted environment where Red Teams are able to freely share knowledge, furthering the craft of offensive security and therefore increasing everyones' security posture.</p>
                            <h4>A Community Event</h4>
                            <p>Red Team Summit is a community effort. It has been hosted by various companies who strive to keep it going in order to provide a forum for discussion among Red Teams.</p>
                        </div>
                    </div>
                    <div class="col-lg-5" style="float: left;">
                        <div class="welcome_img">
                            <img class="img-fluid" src="img/welcome-1.png" alt="Red Team Summit" float: right;>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--================End Welcome Area =================-->
        
{% include footer.html %}