---
layout: null
---

{% include header.html %}
        
        <!--================Home Banner Area =================-->
        <section class="banner_area">
            <div class="banner_inner d-flex align-items-center">
                <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
                <div class="container">
                    <div class="banner_content text-center">
                        <div class="page_link">
                            <a href="index.html">Home</a>
                            <a href="about.html">About</a>
                        </div>
                        <h2>About Red Team Summit</h2>
                    </div>
                </div>
            </div>
        </section>
        <!--================End Home Banner Area =================-->
        
        <!--================Welcome Area =================-->
        <section class="welcome_area p_120">
            <div class="container">
                <div class="welcome_inner row">
                    <div class="col-lg-6 offset-lg-1">
                        <div class="welcome_text">
                            <h3>Red Team Summit</h3>
                            <p>Red Team Summit is two-day conference in the spring for internal Red Teams (by internal Red Teams) to share tips, tricks and experiences. The Red Team Summit is focused on how to be an effective attacker for your organization and how to demonstrate the maximum value to your organization as opposed to “Here’s how to hack my employer.”</p>
                            <p>Offensive security operators present various TTPs to share lessons learned from accumulated successes and failures. The format is similar to Facebook’s War Room event for blue teamers.</p>
                            <p>Intended audience/participants are in-house pentest/red team staff who engage in operations against their employer’s environment(s) as external attackers. Does your team write their own implants, run their own infra, and get shells? If so, then this conference is for you.</p>
                            <p>Red Team Summit operates under the Chatham House Rule. Participants are free to use the information received, but neither the identity nor the affiliation of the speaker(s), nor that of any other participant, may be revealed.</p>
                            <p>Attendance is limited. Your organization must submit a talk in order to receive an invitation for attendance. Submission to CFP does not guarantee presentation acceptance, but does guarantee attendance while capacity remains available.</p>
                            <h4>Audience</h4>
                            <p>This event is intended for internal Red Teams -- those security teams responsible for simulating adversaries and testing the effective security controls of their organizations. This is <b>an invite only</b> event.</p>
                            <h4>Chatham House Rule</h4>
                            <p>When a meeting, or part thereof, is held under the <b>Chatham House Rule</b>, participants are free to use the information received, but neither the identity nor the affiliation of the speaker(s), nor that of any other participant, may be revealed. No part of Red Team Summit is to be recorded (audio or video) or photographed. Direct quotes should not be shared.</p>
                            <h4>A Community Event</h4>
                            <p>Red Team Summit is intended as a community event. It has been hosted by various companies, and we strive to keep it going in order to provide a forum for discussion among internal red teams.</p>
                        </div>
                    </div>
                    <div class="col-lg-5" style="float: left;">
                        <div class="welcome_img">
                            <img class="img-fluid" src="img/welcome-1.png" alt="Red Team Summit" float: right;>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--================End Welcome Area =================-->
        
{% include footer.html %}