---
layout: null
---

{% include header.html %}
{% include vaporwave.html %}
<h2>Attendee Guidelines</h2>
<ol>
  <li>All Attendees must agree to abide by the <a href="/code.html">RTS Code of
      Conduct</a>. Violators will be removed by the hosting organization, and
    may result in their organization being banned from RTS.</li>
  <li>This event is held under the Chatham House Rule. "When a meeting, or part
    thereof, is held under the Chatham House Rule, participants are free to use
    the information received, but neither the identity nor the affiliation of
    the speaker(s), nor that of any other participant, may be revealed."</li>
  <li>In order to be invited to attend the Red Team Summit, your organization
    must have been invited and have submitted at least one bona fide submission
    to the CFP.  Low quality ("throw-away") submissions to attempt to gain an
    invite may be discarded.</li>
  <li>No recordings or photos without the permission of all individuals visible.
    No photos of slides without the permission of the speaker.</li>
  <li>We expect that all attendees will be engaged in internal Red Team
    activities, even if their team or role also performs other services. When
    distributing invitations within organizations, teams should use their best
    judgment on who will benefit from attending. Individuals engaged solely in
    detection and response ("Blue Team") activities are generally not a fit for
    this event.</li>
  <li>The CFP announcement and link should not be forwarded outside your
    organization. If you believe there's an organization that should be invited
    but has not been, reach out to the organizers.</li>
</ol>
{% include footer.html %}
