---
layout: null
---

{% include header.html %}
        
        <!--================Home Banner Area =================-->
        <section class="home_banner_area">
            <div class="banner_inner">
				<div class="container">
					<div class="banner_content">
						<h2>a hacking conference<br/> for red teams, <br/>by red teams</h2>
						<h3>March 12-13, Menlo Park</h3>
                        <p>A chance for Red Teams to share knowledge and work together.</p>
						<a class="tickets_btn" href="schedule.html">RTS {{ site.year }} Schedule</a><br/><br/>
						<!--a class="tickets_btn" href="https://easychair.org/cfp/RTS2019" target="_blank">CFP {{ site.year }}</a-->
					</div>
				</div>
            </div>
        </section>
        <!--================End Home Banner Area =================-->
       
        
        <!--================Welcome Area =================-->
        <section class="welcome_area pad_btm">
        	<div class="container">
        		<div class="welcome_inner row">
        			<div class="col-lg-5">
        				<div class="welcome_img">
        					<br/><br/><br/><br/><img class="img-fluid" src="img/welcome-1.png" alt="Red Team Summit"><br/><br/>
        				</div>
        			</div>
        			<div class="col-lg-6 offset-lg-1">
        				<div class="welcome_text">
        					<h3>Welcome to RTS {{ site.year }}</h3>
        					<p>Red Team Summit is an invite-only hacking conference for the red teams, by the red teams. Offensive security operators present various TTPs to share lessons learned from accumulated successes and failures.</p>
        					<p>Intended audience and participants are in-house pentest or red team staff who engage in operations against their employer's environment(s) as external attackers. We also welcome external red teamers who provide offensive engagement service to their customers.</p>
        					<p>Does your team write their own implants, run their own infra, and get shells? If so, then this conference is for you.</p>
        					<a class="main_btn" href="about.html">Learn more about RTS</a>
        				</div>
        			</div>
        		</div>
        	</div>
        </section>
        <!--================End Welcome Area =================-->

        {% include map.html %}        
        
{% include footer.html %}