---
layout: null
---

{% include header.html %}
{% include vaporwave.html %}
        <!--================Welcome Area =================-->
        <section class="welcome_area pad_btm">
        	<div class="container">
        		<div class="welcome_inner row pad_top">
        			<div class="col-lg-5">
        				<div class="welcome_img">
        					<img class="img-fluid" src="img/rts-2021.png" alt="Red Team Summit">
        				</div>
        			</div>
        			<div class="col-lg-6 offset-lg-1">
        				<div class="welcome_text crt">
        					<h3>Welcome to RTS {{ site.year }}</h3>
                                                
                                                <h4>June, 2022</h4>
                                                <h4>Menlo Park, California</h4>
                                                <h4>CFP will open soon</h4>
                                                
        					<p>Red Team Summit is an invite-only hacking conference for Red Teams. Offensive security operators are invited to present various TTPs and share lessons learned from accumulated successes and failures.</p>
        					<p>Intended audience and participants are in-house offensive security staff who execute operations against their employers.</p>
        					<p>Does your team write their own implants, run their own infra, and get shells? If so, then this conference is for you!</p>
        					<a class="main_btn" href="about.html">Learn more about RTS</a>
        				</div>
        			</div>
        		</div>
        	</div>
        </section>
        <!--================End Welcome Area =================-->       
        
{% include footer.html %}
