---
layout: null
---

{% include header.html %}

		<!--================Event Schedule Area =================-->
        <section class="event_schedule_area p_120">
        	<div class="container">
				<div class="main_title crt">
        			<h2>June 29-30, 2022</h2>
				</div>
				<div class="code_text smaller center">
					<a class="tickets_btn" href="https://redteamsummit2022.splashthat.com/#to3248852573" target="_blank">Full Schedule</a>
					<p>(use the access code in your email invite)</p>
				</div>

        		<div class="event_schedule_inner">
					<ul class="nav nav-tabs" id="myTab" role="tablist">
						<li class="nav-item">
							<a class="nav-link active" id="day1-tab" data-toggle="tab" href="#day1" role="tab" aria-controls="day1" aria-selected="true">Day 1</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" id="day2-tab" data-toggle="tab" href="#day2" role="tab" aria-controls="day2" aria-selected="false">Day 2</a>
						</li>
					</ul>
					<div class="tab-content" id="myTabContent">
						<div class="tab-pane fade show active" id="day1" role="tabpanel" aria-labelledby="day1-tab">
							<div class="media">
								<div class="d-flex">
								</div>
								<div class="media-body">
									<h5>8:00 - 9:55</h5>
									<h4>[Registration, Breakfast]</h4>
								</div>
							</div>
							<div class="media">
								<div class="d-flex">
								</div>
								<div class="media-body">
									<h5>10:00 - 12:00</h5>
									<h4>Talks!</h4>
								</div>
							</div>
							<div class="media">
								<div class="d-flex">
								</div>
								<div class="media-body">
									<h5>12:00 - 1:00</h5>
									<h4>[Catered Lunch]</h4>
								</div>
							</div>
							<div class="media">
								<div class="d-flex">
								</div>
								<div class="media-body">
									<h5>13:00 - 17:00</h5>
									<h4>More talks!</h4>
								</div>
							</div>
							<div class="media">
								<div class="d-flex">
								</div>
								<div class="media-body">
									<h5>18:00 - 21:00</h5>
									<h4>[Off-Site Reception]</h4>
								</div>
							</div>
						</div>
						<div class="tab-pane fade" id="day2" role="tabpanel" aria-labelledby="day2-tab">
							<div class="media">
								<div class="d-flex">
								</div>
								<div class="media-body">
									<h5>8:00 - 10:00</h5>
									<h4>[Registration, Breakfast]</h4>
								</div>
							</div>
							<div class="media">
								<div class="d-flex">
								</div>
								<div class="media-body">
									<h5>10:00 - 12:00</h5>
									<h4>Talks!</h4>
								</div>
							</div>
							<div class="media">
								<div class="d-flex">
								</div>
								<div class="media-body">
									<h5>12:00 - 1:00</h5>
									<h4>[Catered Lunch]</h4>
								</div>
							</div>
							<div class="media">
								<div class="d-flex">
								</div>
								<div class="media-body">
									<h5>13:00 - 17:00</h5>
									<h4>More talks!</h4>
								</div>
							</div>
							<div class="media">
								<div class="d-flex">
								</div>
								<div class="media-body">
									<h5>17:00 - 17:10</h5>
									<h4>[End of Ceremonies]</h4>
								</div>
							</div>
						</div>
					</div>
        		</div>
        	</div>
        </section>
        <!--================End Event Schedule Area =================-->
{% include footer.html %}
