---
layout: null
---

{% include header.html %}
        
        <!--================Home Banner Area =================-->
        <section class="banner_area">
            <div class="banner_inner d-flex align-items-center">
            	<div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
				<div class="container">
					<div class="banner_content text-center">
						<div class="page_link">
							<a href="index.html">Home</a>
							<a href="schedule.html">Schedule</a>
						</div>
						<h2>Event Schedule</h2>
					</div>
				</div>
            </div>
        </section>
        <!--================End Home Banner Area =================-->
        
        <!--================Event Schedule Area =================-->
        <section class="event_schedule_area p_120">
        	<div class="container">
        		<div class="main_title">
                    <h2><a class="tickets_btn" href="https://cfp.redteamsummit.com/2020/cfp" target="_blank">CFP is Open</a></h2>
                    <p>Red Team Summit accepts submissions on November 20, 2019. The deadline for submissions is January 10, 2020.</p>
        		</div>
        	</div>
        </section>
        <!--================End Event Schedule Area =================-->
       
{% include footer.html %}
