---
layout: null
---

{% include header.html %}
{% include vaporwave.html %}
        <!--================Welcome Area =================-->
        <section class="welcome_area pad_top">
            <div class="container">
                <div class="welcome_inner row">
                    <div class="col">
                        <div class="main_title crt">
                            <h2>RTS {{site.year}} Venue</h2>
                        </div>
                        <div class="code_text">
                            <p>Red Team Summit {{ site.year }} will be held at Meta's Menlo Park HQ, in building Gateway 63.</p>
                            <p>The address is 135 Constitution Drive, Menlo Park, CA 94025. There is free parking on site.</p>
                            <p>You <b>must</b> have been invited and completed our RSVP process to attend. Those without a confirmed RSVP will not be on our list and will be turned away by building security. Invitations are not transferrable between organizations.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--================End Welcome Area =================-->

        {% include map.html %}

{% include footer.html %}
