---
layout: null
---

{% include header.html %}

        <!--================Home Banner Area =================-->
        <section class="banner_area">
            <div class="banner_inner d-flex align-items-center">
                <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
                <div class="container">
                    <div class="banner_content text-center">
                        <div class="page_link">
                            <a href="index.html">Home</a>
                            <a href="about.html">Venue</a>
                        </div>
                        <h2>RTS {{ site.year }} Venue</h2>
                    </div>
                </div>
            </div>
        </section>
        <!--================End Home Banner Area =================-->

        <!--================Welcome Area =================-->
        <section class="welcome_area p_120">
            <div class="container">
                <div class="code_text">
                    <p>Red Team Summit {{ site.year }} will be held at Meta's Menlo Park HQ.</p>
                    <p>The address is 1 Hacker Way, Menlo Park, CA 94025. There is free parking on site.</p>
                    <p>You <b>must</b> have been invited and completed our RSVP process to attend. Those without a confirmed RSVP will not be on our list and will be turned away by building security. Invitations are not transferrable between organizations.</p>
                </div>
            </div>
        </section>
        <!--================End Welcome Area =================-->

        {% include map.html %}

{% include footer.html %}
