        <!--================Start Event Location Area =================-->
        <section class="home_map_area">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3169.2908551116197!2d-122.02494938666804!3d37.40659963316343!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808fb794dbbe8c8b%3A0xc0bfc8252392d6dd!2sGoogle%20Building%20MP3!5e0!3m2!1sen!2sus!4v1701461739721!5m2!1sen!2sus" width="60%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            <div class="home_details">
                <div class="container">
                    <div class="box_home_details">
                        <div class="media">
                            <div class="d-flex">
                                <i class="lnr lnr-home"></i>
                            </div>
                            <div class="media-body">
                                <h4>Sunnyvale, CA, United States</h4>
                                <p>Google Sunnyvale</p>
                            </div>
                        </div>
                        <div class="media">
                            <div class="d-flex">
                                <i class="lnr lnr-clock"></i>
                            </div>
                            <div class="media-body">
                                <h4>{{ site.event_date }}</h4>
                                <p>Tuesday-Thursday</p>
                            </div>
                        </div>
                        <div class="media">
                            <div class="d-flex">
                                <i class="lnr lnr-envelope"></i>
                            </div>
                            <div class="media-body">
                                <h4>{{ site.contact_email }}</h4>
                                <p>Send us your query!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--================End Event Location Area =================-->
