---
layout: default
---

  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center red-text">{{ site.title }}</h1>
      <div class="row center">
        <h5 class="header col s12 light">{{ content }}</h5>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
            <h5 class="center">Audience</h5>

            <p class="light">This event is intended for internal Red Teams --
            those security teams responsible for simulating adversaries and
            testing the effective security controls of their organizations.
            This is an <b>invite only</b> event.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">videocam_off</i></h2>
            <h5 class="center">Chatham House Rule</h5>

            <p class="light">When a meeting, or part thereof, is held under the
            <b>Chatham House Rule</b>, participants are free to use the information
            received, but neither the identity nor the affiliation of the
            speaker(s), nor that of any other participant, may be revealed.  No
            part of Red Team Summit is to be recorded (audio or video) or
            photographed.  Direct quotes should not be shared.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">cached</i></h2>
            <h5 class="center">A Community Event</h5>

            <p class="light">Red Team Summit is intended as a community event.
            It has been hosted by various companies, and we strive to keep it
            going in order to provide a forum for discussion among internal red
            teams.</p>
          </div>
        </div>
      </div>

    </div>
    </div>

  </div>
